.shopcategory-banner{
    display: block;
    margin: 30px auto;
    width: 80%;
    background: rgba(111, 255, 0, 0.77);

}
.shopcategory-indexsort{
    display: flex;
    margin: 0px 180px 0px 180px ;
    justify-content: space-between;
    
}
.shopcategory-sort{
    
    height: 20px;
    width: 60px;
    border: 1px solid rgb(4, 6, 4);
    
    justify-content: center;
}
.shopcategory-indexsort p span{
    font-weight: 600;
}
.shopcategory-product{
    margin: 10px 20px 170px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    row-gap: 60px;
}
.explore-more{
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 20px;
    padding: 5px;
    justify-content: center;
    font-size: 22px;
    font-weight: 500;
    color: rgb(19, 16, 16);
    background: rgb(162, 159, 159);
    width: 150px;
    height: 30px;
    margin: 150px auto;

}
@media (max-width:1280px) {
    .shopcategory-banner{
        margin: 20px auto;
        width: 90%;
    }
    .shopcategory-indexsort{
        width: 90%;
        margin: auto;
    }
    .shopcategory-sort{
        padding: 5px 10px;
        font-size: 12px;
    }
    .shopcategory-indexsort p{
        font-size: 12px;
    }
    .shopcategory-product{
        width: 90%;
        margin: 10px auto;
        row-gap: 40px;
    }
    .shopcategory-product .item{
        margin: auto ;
    }
    .explore-more{
        margin: 100px auto;
        width: 200px;
        height: 60px;
        font-size: 20px;
        border-radius: 40px;
    }
}
@media (max-width:1024px) {
    .explore-more{
        margin: 80px auto;
        width: 180px;
        height:50px;
        font-size: 16px;
        border-radius: 40px;
    }
}
@media (max-width:800px) {
    .shopcategory-banner{
        width: 95%;
    }
    .shopcategory-product{
        width: 95%;
    }
    .explore-more{
        margin: 60px auto;
        width: 150px;
        height: 40px;
        font-size: 15px;
    }
}
@media (max-width:500px) {
    .shopcategory-banner{
        margin-top: 40px ;
    }
    .shopcategory-product{
        grid-template-columns: 1fr 1fr;
    }
    
}