.cartitems {
    margin: 100px 170px;

}
.cartitems hr{ 
    height: 3px;
    background-color: white;
    border:0;
}
.cartitem-format-main{
    display: grid;
    grid-template-columns:  0.5fr 2fr 1fr 1fr 1fr 1fr;
    color: rgb(58, 58, 74);
    align-items: center;
    gap: 75px;
    padding: 20px 0px;
    font-size: 18px;
    font-weight: 600;


}
.carticon-product-icon{
    height: 200px;
}
.carticon-remove-icon{
    width: 20px;
    margin: 0px 40px;
    cursor: pointer;
}
.cartitem-quantity{
    width: 64px;
    height: 50px;
    border: 1px solid rgb(189, 166, 166);
    background: white;
    font-size: 18px;
    font-weight: 600;
}
.cartitem-quantity:hover{
    background: grey;
}

.cartitems-down{
    display: flex;
    margin: 100px 0px;
}
.cartitems-total{
    flex: 1;
    display: flex;
    flex-direction: column;
    margin-right: 200px;
    gap: 40px;
     
}
.cartitems-total-item{
    display: flex;
    justify-content: space-between;
    padding: 15px 0px;
}
.cartitems-total button{
    width: 262px;
    height: 58px;
    outline: none;
    border: none;
    background: red;
    color: white;
    font-size: 20px;

}
.cartitems-total button:hover{
    background-color: rgb(226, 6, 6);
}
.cartitems-promocode{
    flex: 1;
    font-size: 16px;
    font-weight: 500;
}
.cartitems-promocode p{
    color: grey;
    font-size: 20px;

}
.cartitem-promobox{
    width: 508px;
    margin-top: 15px;
    padding-left: 20px;
    
    height: 58px;
}
.cartitem-promobox input{
    border: 1px solid grey;
    font-size: 20px;
    
    width: 330px;
    height: 50px;
}
.cartitem-promobox button{
    width: 170px;
    height: 58px;
    font-size:20px ;
    background: rgb(50, 42, 42);
    color: white;
}
.cartitem-promobox button:hover{
    background-color: rgb(78, 68, 68) ;
}